/* 
    1.-Posicionamiento: static, absolute, relative, fixed
    2.-Modelo de caja: margin, border, padding, content
    3.-Tipografia: tipos, tamaños de fuente, etc...
    4.-Visuales: box-shadow, border-radius, gradient, etc...
    5.-Otros: reglas CSS y más
*/

:root {
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 334px;
    min-width: 320px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
}

.header--title-container {
    width: 90%;
    height: 218px;
    min-width: 138px;
    max-width: 900px;
    margin-top: 40px;
}

.header--title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8ren;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    top: calc(100% - 56.5px);
    left: calc(50% - 114.5px);
    display: block;
    width: 229px;
    height: 48px;
    margin-top: 35px;
    padding: 15px;
    background-color: var(--off-white);
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    text-decoration: none;
    /* Sombras */
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.header--title-container .header--button span {
    display: inline-block;
    width: 22px;
    height: 16px;
    margin-left: 6px;
    background-image: url('../assets/icons/arrow_down.svg');
}

main {
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: var(--off-white);
}

.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main-exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('../assets/imgs/bitcoin.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}

.main-currency-table, .main-comissions-table{
    width: 70%;
    height: 360px;
    min-width: 235px;
    max-width: 500px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main-comissions-table {
    display: none;
}

.main-currency-table .currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}

.main-comissions-table .comissions-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}

.currency-table--container, .comissions-table--container {
    width: 90%;
    height: 250px;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
}

.currency-table--container table, .comissions-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td, .comissions-table--container td{
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left, .comissions-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right, .comissions-table--container .table__top-right {
    border-radius:  0 15px 0 0 ;
}

.currency-table--container .table__bottom-right, .comissions-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container .table__bottom-left, .comissions-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table-right, .comissions-table--container .table-right {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .table-right span {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.currency-table--container .table-right .down {
    background-image: url('../assets/icons/trending-down.svg');
}

.currency-table--container .table-right .up {
    background-image: url('../assets/icons/trending-up.svg');
}

.currency-table--date, .comissions-table--date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

.comissions-table--date {
    background-color: var(--soft-blue);
}

.currency-table--date p, .comissions-table--date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--warm-black);
}

.currency-table--container .arrow-right {
    position: relative;
    right: calc(-50% - 130px);
    top: calc(-50%);
    width: 25px;
    height: 25px;
    background-image: url('../assets/icons/arrow_right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.comissions-table--container .arrow-left {
    position: relative;
    right: calc(50% - 90px);
    top: calc(-50%);
    width: 25px;
    height: 25px;
    background-image: url('../assets/icons/arrow-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main-product-detail {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-color: var(--black);
}

.main-product-detail .product-detail--batata-logo {
    position: absolute;
    width: 40px;
    height: 20px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('../assets/icons/papa.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.main-product-detail .product-detail--title {
    width: 90%;
    height: auto;
    min-width: 288px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.product-detail--title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.product-detail--title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.product-detail--card {
    width: 90%;
    height: 150px;
    min-width: 288px;
    max-width: 400px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

.product-detail--card span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-card-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}

.product-card-body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.clock {
    background-image: url('../assets/icons/clock.svg');
}

.eye {
    background-image: url('../assets/icons/eye.svg');
}

.dollar-sign {
    background-image: url('../assets/icons/dollar-sign.svg');
}

.check-circle {
    background-image: url('../assets/icons/check-circle.svg');
}

.bitcoin-img-container {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    text-align: center;
    background-image: url('../assets/imgs/bitcoinbaby-2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bitcoin-img-container h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.main-plans-container {
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
}

.plans-container--title {
    width: 90%;
    height: auto;
    min-width: 288px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.plans-container--title h2 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}

.plans-container--title p {
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider {
    height: 316px;
    display: flex;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--slider::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}
.plans-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}

.plans-container--card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 0 5px;
    margin-top: 50px;
    padding: 0 15px;
    font-family: 'Inter';
    text-align: center;
    border-radius: 15px;
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.plans-container--card .plans-container--recomend {
    position: absolute;
    top: -15px;
    left: calc(50% - 60px);
    width: 120px;
    height: 31px;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.4rem;
    color: var(--just-white);
    background-color: var(--bitcoin-orange);
}

.plan-info-container .plan-card--title {
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--black);
}

.plan-info-container .plan-card--price {
    position: relative;
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 6.3rem;
    color: var(--black);
}

.plan-info-container .plan-card--price sup {
    position: absolute;
    top: 10px;
    left: calc(50% - 45px);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.plan-info-container .plan-card--saving {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 500;
    color: #757575;
}

.plan-info-container .plan-card--ca {
    width: 150px;
    height: 48px;
    margin-top: 20px;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--black);
    border: 2px solid var(--bitcoin-orange);
    background-color: var(--just-white);
}

.plan-info-container .plan-card--ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    background-image: url('../assets/icons/orange-arrow-right.svg');
}

footer {
    width: 100%;
    height: 150px;
    display: flex;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.footer-left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

.footer-left li {
    margin: 10px 0;
}

.footer-left a {
    text-decoration: none;
    color: var(--just-white);
}